.dialogs {
display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color:gold;
}


.dialog {
    margin-bottom: 10px;
}

.messages {
    padding: 10px;
}

.message {
    padding-bottom: 10px;
}